<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoMusawo">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/medicalteam"
        android:label="yoMusawo-ntege-hamza"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DoctorUI.MyPatientMedicalFolderActivity"
            android:label="@string/title_activity_my_patient_medical_folder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DoctorsBySpecialityActivity" />
        <activity
            android:name=".DoctorUI.DoctorAppointments"
            android:label="@string/title_activity_doctor_appointments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DoctorUI.DoctorEditProfileInfo" />
        <activity android:name=".DoctorUI.DisplayDoctorProfileInfo" />
        <activity android:name=".DoctorUI.MyPatientInfoActivity" />
        <activity android:name=".DoctorUI.MyPatientsActivity" />
        <activity android:name=".DoctorUI.DisplayPatientInfo" />
        <activity android:name=".MyDoctorInfoActivity" />
        <activity android:name=".MyDoctorsActivity" />
        <activity
            android:name=".DoctorLocalisation"
            android:label="@string/title_activity_doctor_localisation" />
        <activity android:name=".ConsultationInfoActivity" />
        <activity android:name=".EmergencyCall" />
        <activity
            android:name=".MedicalFolderActivity"
            android:label="@string/title_activity_medical_folder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DoctorUI.SearchPatientActivity" />
        <activity
            android:name=".AppointmentsActivity"
            android:label="@string/title_activity_appointments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ScheduleAppointmentActivity" />
        <activity android:name=".DoctorUI.DoctorMenuActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".PatientProfileInformations" />
        <activity android:name=".DisplayDoctorInfo" />
        <activity android:name=".DisplayItemDataActivity" />
        <activity
            android:name=".SearchDoctorSpecialityActivity"
            android:label="@string/title_activity_search_doctor_speciality"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchDoctorActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayPrescriptionPhoto" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>